.DS_Store
b3ff89f5-7c5a-437b-8247-8633feb8f307.dat
level.dat
modified_output.dat
original.txt
level copy.dat
r.-9.3.mca
build/
build-*/
.vs/
CMakeSettings.json
CMakeUserPresets.json
dist/
dist-*/
AppDir/
/bin/
/aqtinstall.log
/region_file.plist
/region_read.plist
/region_write.plist
__pycache__/
*.py[cod]
